@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:wght@100&display=swap');
*
{
  margin: 0;
  padding: 0;
  color: #222222;
  box-sizing: border-box;
  font-family: 'Patrick Hand',sans-serif;
}
nav{
  background: #ffffff;
  padding: 10px 40px 10px 70px;
  border-left: none;
  border-right: none;
}
nav ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li.logo{
  flex: 1;

}nav ul div.items{
  padding: 0 25px;
  display: inline-flex;
}
  nav ul div.items a{
    text-decoration: none;
    font-size: 25px;
    padding: 0 12px;
  }
  nav ul div.items a:hover{
    color: red;
  }
  nav ul .search-icon{
    height: 50px;
    width: 240px;
    display: flex;
    background: #ffffff;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    border: 1px solid #cccccc;

  }nav ul .search-icon input{
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 20px;
    border-radius: 5px 0 0 5px;
  }
  nav ul .search-icon .icon{
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  nav ul .search-icon .icon:hover{
    background: #e6e6e6;
  }
    nav ul .search-icon .icon span {
      color: #222222;
    }
